<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MiniWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MiniWebReadServle</display-name>
    <servlet-name>MiniWebReadServlet</servlet-name>
    <servlet-class>com.controller.MiniWebReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniWebReadServlet</servlet-name>
    <url-pattern>/Building/List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniWebWriteServlet</display-name>
    <servlet-name>MiniWebWriteServlet</servlet-name>
    <servlet-class>com.controller.MiniWebWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniWebWriteServlet</servlet-name>
    <url-pattern>/Building</url-pattern>
  </servlet-mapping>
  
</web-app>